extends layout

block content
  h1= title
  p Create an Account
  form(name="sign-up", method="post")
    p New username:
    input(type="text", name="username")
    p New password:
    input(type="password", name="password")
    p
    input(type="submit", value="Sign up")